<h1>Custom Ids</h1>

<p>
Alice and Bob are helping in the organization of HackUPC. They are handling the registration of incoming Hackers. After a long day dealing with lots of different ids, they wanted to come up with their own improved version of Spain's identification system.
</p>

<p>
National ids in Spain have a 8 digit number followed by a letter. The letter is determined by the remainder of dividing the number by 23. The list of letters are `T R W A G M Y F P D X B N J Z S Q V H L C K E`, where T is the letter assigned with remainder 0, R with remainder 1 and so on, up to E with remainder 22.
</p>

<p>
Alice and Bob have four requirements for the new system:
</p>
<ol>
  <li>Letters will be assigned in the same way as in Spain national ids.</li>
  <li>Numbers will have 18 digits, so it can include more people. Note that leading zeroes are allowed.</li>
  <li>Ids with letters 'H', 'A', 'C' or 'K' are invalid.</li>
  <li>The total number of different digits in the id should be a prime number.</li>
</ol>

<p>After this, they wonder if there are enough ids, so they ask you to count the number of different ids that satisfy all requirements.</p>

