<h1>Going Home</h1>

<p>
After a long weekend hacking, Alice and her friends decided to go home. The city is a grid of houses connected by roads. The house located at (i, j), is connected to the house at (i+1, j), (i-1, j), (i, j+1), (i, j-1). There is a house in every integer coordinate of the grid.
</p>

<p>
Everybody is going home from university, which is located at (0, 0). An ideal path is the shortest path from university that goes through all their homes. They are very lucky people because any ideal path also happens to be the shortest path from university to their individual homes.
</p>

<p>
Help Alice find the number of all different ideal paths.
</p>


<p>Input consists of integer N denoting number of houses.</p>
<p>Follows N lines, each with a pair (x, y), denoting the coordinates of one house.</p>

<p>Output the number of different pahts. As this number can be pretty big, output the number modulo 1333333709.</p>

<p>Assume there is always at least one such path.</p>

<h3>Sample Input</h3>
<pre>
2
3 3
2 1
</pre>
<h3>Sample Output</h3>
<pre>9</pre>

<a href='/static/files/going_home.zip'>Download Input</a>
