{% extends "base.html" %}

{% block nav-home %}<strong>Home</strong>{% endblock %}
{% block content %}
        <p>TheGame starts on {{start_time}}</p>
        <p>Time to start:  <span id="secondsLeft">{{time_left.seconds}}</span></p>
{% endblock %}

{% block scripts %}
    <script>
        function timeRemaining(seconds) {
          if (seconds < 0) seconds = 0;
          const orig = seconds;
          const days = Math.floor(seconds / (3600*24));
          seconds %= (3600*24);
          const hours = Math.floor(seconds / 3600);
          seconds %= 3600;
          const minutes = Math.floor(seconds / 60);
          seconds %= 60;
          return ""
            + days + (days == 1 ? " day, " : " days, ")
            + hours + (hours == 1 ? " hour " : " hours " )
            + minutes + (minutes == 1 ? " minute " : " minutes ")
            + seconds + (seconds == 1 ? " second" : " seconds")
        }
        var secondsTillHack = {{time_left.seconds}} + {{time_left.days}}*3600*24;
        document.getElementById("secondsLeft").textContent = timeRemaining(secondsTillHack);
        setInterval(function() {
            secondsTillHack--;
            document.getElementById("secondsLeft").textContent =
              timeRemaining(secondsTillHack);
        }, 1000);
    </script>
{% endblock %}
